extends layout

block content
  h1= title
  each row in rows
   input(type=text, value='#{row.name}', id='button#{row.id}')
   button(data-id='#{row.id}', class='saveButton') Update
   button(data-id='#{row.id}', class='deleteButton') Delete
   br
  h2 Add new
  form(action='sensors/add', method='POST')
   input(type=text, name='name')
   button(type='submit') Add
  script.
   $(function(){
    $('.saveButton').on('click', function () {
     $.post('sensors/update', {
      id: $(this).data('id'),
      name: $('#button' + $(this).data('id')).val()
     });
     location.reload();
    });

    $('.deleteButton').on('click', function () {
     $.post('sensors/del', {id: $(this).data('id')});
     location.reload();
    });
   });