extends layout

block content
  h1= title
  each row in rows
   input(type=text, value='#{row.name}')
   button(data-id='#{row.id}', class='saveButton') Update
   button(data-id='#{row.id}', class='deleteButton') Delete
   br
  h2 Add new
  form(action='sensors/add', method='POST')
   input(type=text, name='name')
   button(type='submit') Add
  script.
   $(function(){
    $('.saveButton').on('click', function () {
     alert($(this).data('id'));
    });

    $('.deleteButton').on('click', function () {
     alert($(this).data('id'));
    });
    
   });